
figure {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#date {
  font-size: .9em;
  text-align: center;
}

img {
  width: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Bitter', serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  text-align: center;
}

header {
  background-color: white;
  position: fixed;
  width: 10%;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  top: 0
}

#pullquote {
  font-family: 'Bitter', serif;
  width: 30%;
  float: right;
  border-left: 2px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

figcaption {
   font-family: 'Roboto', sans-serif;
  font-size: .9em; 
}
