* {font-family: 'Arimo', sans-serif;}

}

body {
  margin: 0;
}

/* Layout */

#container {
  border: 30px dashed #C0360C;
  padding: 15px 30px;
  max-width: 500px;
}

#inner {
  display: flex;
}

#mainbar {
  border: 5px double #ccc;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 20px;
}

#sidebar{
  padding: 0 20px;
}

@media (min-width: 650px) {
  #inner {
    flex-flow: row nowrap;
  }
  #mainbar {
    flex-basis: 60%;
  }
  #sidebar {
    flex-basis: 40%;
  }
}

@media (max-width: 649px) {
  #inner {
    flex-flow: row wrap;
  }
}

/* Typography */

h1 {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.price {
  font-size: .8em;
  color: #666;
}

.item--name {
  font-size: 1.3em;
}

.item--description {
  font-style: italic;
  color: #666;
}
