body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 30%;
  margin-left: 5%;
  margin-top: 5%;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
}


.sidenav a {
  padding: 0px 8px 0px 16px;
  text-decoration: none;
  text-align: right;
  font-size: 16px;
  color: black;
  display: block;
}

h1{
  margin-bottom: 0;
  margin-top: 0;
}


.sidenav a:hover {
  color: #CD853F;
}

.main {
  margin-top: 5%;
  margin-left: 38%; /* Same width as the sidebar + left position in px */
  height: 100%;
  padding-top: 30px;
}

.about {
    margin-left: 38%;
    max-width: 30%;
    margin-top: 5%;
    font-size: 1.5vmin;
    padding-top: 10px;
}

.photos {
  margin-top: 5%;
    margin-left: 38%; /* Same width as the sidebar + left position in px */
    max-width: 40%;
    padding-top: 10px;
}

.contact {
  margin-left: 38%;
  max-width: 30%;
  margin-top: 5%;
  font-size: 1.5vmin;
  padding-top: 10px;
}

.writing {
  margin-left: 38%;
  max-width: 30%;
  margin-top: 5%;
  font-size: 1.5vmin;
  padding-top: 10px;
}

img {
  width:auto;
  max-width: 40%;
}

p {
  line-height: 1.6;
}

p a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
}

a:hover {
  color: orange;

}





/*Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px;*/
